.main{
  display: flex;
  margin: 5px 200px;
  /* font-size: 10px; */
}
.a{
  /* background-color: antiquewhite; */
  height: 1300px;
  width: 600px;
  margin-right: 25;
}

.a2 {
  /* background-color:blue; */
  height: 700px;
  width: 600px;
  
}
img{
  height: 700px;
  width: 600px;
}
.ah3{
  /* background-color:rgb(233, 18, 107); */
  height: 40px;
  width: 600px;
  text-align: center;
  margin-bottom: 20px;
}
.a3{
  /* background-color:red; */
  height: 110px;
  width: 600px;
  text-align: center;
}


.a4a5{
  display: flex;
  

}
.a4{
  /* background-color:gray; */
  height: 400px;
  width: 295px;
  
}
.a5{
  margin-left: 10px;
  /* background-color:hotpink; */
  height: 400px;
  width: 295px;
}
.b{
  /* background-color: greenyellow; */
  height: 1300px;
  width: 300px;
  margin-left: 20px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  
  .main{
    display: block;
    align-self: center;
  }
  

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 480px) {
  
  .main{
    display: block;
    align-self: center;
  }
  

}

