.container {
    /* Uncomment if you want to set a background color or image */
    /* background-color: red; */
    /* background-image: url(img/sky.jpg); */
    padding-left: 30%;
    padding-top: 20px;
    width: 500px;
    height: 500px;
  }
  
  .container img {
    width: 100%;
    height: 100%;
    /* mask-image: url('./img/earth2.png');
    -webkit-mask-image: url('./img/earth2.png');
   */



      
    /* mask-image: url('./img/earth.png');
    -webkit-mask-image: url('./img/earth.png'); */
      */ */


    mask-image: url('./img/css3.png');
    -webkit-mask-image: url('./img/css3.png');
    
   
    mask-size: contain; /* Specify the mask size */
    -webkit-mask-size: contain; /* Specify the mask size */
  }
  